<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :biography %>
    <%= form.text_area :biography, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :account_holder %>
    <%= form.text_field :account_holder, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bank %>
    <%= form.text_field :bank, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :branch %>
    <%= form.text_field :branch, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :account %>
    <%= form.text_field :account, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :account_type %>
    <%= form.text_field :account_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if artist.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', artist, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if artist.persisted? %>
      <%= link_to "Cancel", artist, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", artists_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
