<div class="row">
  <div class="col-sm-6">
    <h1>Artists</h1>
  </div>

  <div class="col-sm-6 text-right">
    <% if current_user && current_user.admin? %>
      <%= link_to new_artist_path, class: 'btn btn-primary' do %>
        Add New Artist
      <% end %>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Biography</th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <%= content_tag :tr, id: dom_id(artist), class: dom_class(artist) do %>
          <td><%= artist.image ? image_tag(artist.image, height: '64') : '' %></td>
          <td><%= link_to artist.name, artist %></td>
          <td><%= artist.biography %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
