<div class="page-header">
  <%= link_to artists_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Artists
  <% end %>
  <% if current_user && current_user.admin? %>
    <%= link_to edit_artist_path(@artist), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
  <% end %>
  <h1>Show artist</h1>
</div>

<dl class="dl-horizontal">
  <% if @artist.image.present? %>
  <div style="float: left; margin: 0 20px 20px 0">
    <%= image_tag @artist.image.url(:medium) %>
  </div>
  <% end %>

  <dt>Name:</dt>
  <dd><%= @artist.name %></dd>

  <dt>Biography:</dt>
  <dd><%= @artist.biography %></dd>

  <hr>

  <dt>Account holder:</dt>
  <dd><%= @artist.account_holder %></dd>

  <dt>Bank:</dt>
  <dd><%= @artist.bank %></dd>

  <dt>Branch:</dt>
  <dd><%= @artist.branch %></dd>

  <dt>Account:</dt>
  <dd><%= @artist.account %></dd>

  <dt>Account type:</dt>
  <dd><%= @artist.account_type %></dd>

</dl>
