<footer class="footer text-muted bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="small">© <%= Date.today.year %> <%= Rails.configuration.application_name %></span>
        <ul class="list-inline mb-0 float-right">
          <li class="list-inline-item mr-3 small"><%= link_to "Terms", terms_path %></li>
          <li class="list-inline-item mr-3 small"><%= link_to "Privacy", privacy_path %></li>
        </ul>
      </div>
      <div class="col-12 text-center">
        <span class="small">Developed by <img src="/assets/logo-gustavo-parolin.png" height="24px" alt="Logo Gustavo Parolin"> <a href="http://www.parolin.net/" target="_blank">Gustavo Parolin</a></span>
      </div>
    </div>
  </div>
</footer>
