<div id="terms_of_use">

  <h1>Terms of Use</h1>

  <p class="lead">This web page represents our Terms of Use and Sale ("Agreement") regarding our website, www.mysite ("Website").  It was last posted on 1st April 2018 and last updated on 1st April 2018.  The terms, "we" and "our" as used in this Agreement refer to <strong><%= Rails.configuration.application_name %></strong>.</p>

  <p class="lead">We may amend this Agreement at any time by posting the amended terms on our Website.  We may or may not post notices on the homepage of our Website when such changes occur.</p>

  <p class="lead">We refer to this Agreement, our Privacy Policy accessible at <%= link_to "www.mysite.com/privacy", privacy_path %>, and any other terms, rules, or guidelines on our Website collectively as our "Legal Terms."  You explicitly and implicitly agree to be bound by our Legal Terms each time you access our Website.  If you do not wish to be so bound, please do not use or access our Website.</p>

  <p class="lead"><strong>Limited License</strong></p>

  <p class="lead"><strong><%= Rails.configuration.application_name %></strong> grants you a non-exclusive, non-transferable, revocable license to access and use our Website in order for you to make purchases of electronic documents and related services through our Website, strictly in accordance with our Legal Terms.</p>

  <p class="lead"><strong>Copyrights and Trademarks</strong></p>

  <p class="lead">Unless otherwise noted, all materials including without limitation, logos, brand names, images, designs, photographs, video clips and written and other materials that appear as part of our Website are copyrights, trademarks, service marks, trade dress and/or other intellectual property whether registered or unregistered ("Intellectual Property") owned, controlled or licensed by <strong><%= Rails.configuration.application_name %></strong>.  Our Website as a whole is protected by copyright and trade dress.  Nothing on our Website should be construed as granting, by implication, estoppel or otherwise, any license or right to use any Intellectual Property displayed or used on our Website, without the prior written permission of the Intellectual Property owner. <strong><%= Rails.configuration.application_name %></strong> aggressively enforces its intellectual property rights to the fullest extent of the law. The names and logos of <strong><%= Rails.configuration.application_name %></strong>, may not be used in any way, including in advertising or publicity pertaining to distribution of materials on our Website, without prior, written permission from <strong><%= Rails.configuration.application_name %></strong>. <strong><%= Rails.configuration.application_name %></strong> prohibits use of any logo of <strong><%= Rails.configuration.application_name %></strong> or any of its affiliates as part of a link to or from any Website unless <strong><%= Rails.configuration.application_name %></strong> approves such link in advance and in writing. Fair use of <strong><%= Rails.configuration.application_name %></strong>’s Intellectual Property requires proper acknowledgment. Other product and company names mentioned in our Website may be the Intellectual Property of their respective owners.</p>

  <p class="lead"><strong>Links to Third-Party Websites</strong></p>

  <p class="lead">Our Website may contain links to Websites owned or operated by parties other than <strong><%= Rails.configuration.application_name %></strong>. Such links are provided for your reference only. <strong><%= Rails.configuration.application_name %></strong> does not monitor or control outside Websites and is not responsible for their content. <strong><%= Rails.configuration.application_name %></strong>’s inclusion of links to an outside Website does not imply any endorsement of the material on our Website or, unless expressly disclosed otherwise, any sponsorship, affiliation or association with its owner, operator or sponsor, nor does <strong><%= Rails.configuration.application_name %></strong>’ inclusion of the links imply that <strong><%= Rails.configuration.application_name %></strong> is authorized to use any trade name, trademark, logo, legal or official seal, or copyrighted symbol that may be reflected in the linked Website.</p>

  <p class="lead"><strong>Content Disclaimer</strong></p>

  <p class="lead">Postings on our Website are made at such times as <strong><%= Rails.configuration.application_name %></strong> determines in its discretion. You should not assume that the information contained on our Website has been updated or otherwise contains current information. <strong><%= Rails.configuration.application_name %></strong> does not review past postings to determine whether they remain accurate and information contained in such postings may have been superseded. THE INFORMATION AND MATERIALS IN OUR WEBSITE ARE PROVIDED FOR YOUR REVIEW IN ACCORDANCE WITH THE NOTICES, TERMS AND CONDITIONS SET FORTH HEREIN. THESE MATERIALS ARE NOT GUARANTEED OR REPRESENTED TO BE COMPLETE, CORRECT OR UP TO DATE. THESE MATERIALS MAY BE CHANGED FROM TIME TO TIME WITHOUT NOTICE.</p>

  <p class="lead"><strong>Contracts and Legal Advice Disclaimer</strong></p>

  <p class="lead">You understand that we offer legal contracts ("Contracts"), as created by attorneys or paralegal for sale through our Website. You acknowledge that we are not attorneys or paralegals nor do we offer legal advice. You acknowledge that we do not endorse any specific attorney or paralegal or any Contracts as being better than another. We do not otherwise guarantee the legal accuracy or applicability of any Contracts for your legal needs. You will at all times look to any attorney or paralegal that you select for services as to any legal claims related to such services.</p>

  <p class="lead"><strong>Refunds</strong></p>

  <p class="lead">We issue refunds for Contracts within 7 days of the original purchase of the Contract.</p>

  <p class="lead"><strong>No Warranties; Exclusion of Liability; Indemnification</strong></p>

  <p class="lead">OUR WEBSITE IS OPERATED BY <strong><%= Rails.configuration.application_name %></strong> ON AN "AS IS," "AS AVAILABLE" BASIS, WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT PERMITTED BY LAW, <strong><%= Rails.configuration.application_name %></strong> SPECIFICALLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT FOR OUR WEBSITE AND ANY CONTRACTS AND SERVICES YOU PURCHASE THROUGH IT. <strong><%= Rails.configuration.application_name %></strong> SHALL NOT HAVE ANY LIABILITY OR RESPONSIBILITY FOR ANY ERRORS OR OMISSIONS IN THE CONTENT OF OUR WEBSITE, FOR CONTRACTS OR SERVICES SOLD THROUGH OUR WEBSITE, FOR YOUR ACTION OR INACTION IN CONNECTION WITH OUR WEBSITE OR FOR ANY DAMAGE TO YOUR COMPUTER OR DATA OR ANY OTHER DAMAGE YOU MAY INCUR IN CONNECTION WITH OUR WEBSITE. YOUR USE OF OUR WEBSITE AND ANY CONTRACTS OR SERVICES ARE AT YOUR OWN RISK. IN NO EVENT SHALL EITHER <strong><%= Rails.configuration.application_name %></strong> OR THEIR AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OUR WEBSITE, CONTRACTS AND SERVICES PURCHASED THROUGH OUR WEBSITE, THE DELAY OR INABILITY TO USE OUR WEBSITE OR OTHERWISE ARISING IN CONNECTION WITH OUR WEBSITE, CONTRACTS OR RELATED SERVICES, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES.  IN NO EVENT SHALL <strong><%= Rails.configuration.application_name %></strong>’ LIABILITY FOR ANY DAMAGE CLAIM EXCEED THE AMOUNT PAID BY YOU TO <strong><%= Rails.configuration.application_name %></strong> FOR THE TRANSACTION GIVING RISE TO SUCH DAMAGE CLAIM.</p>

  <p class="lead">SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.</p>

  <p class="lead">WITHOUT LIMITING THE FOREGOING, <strong><%= Rails.configuration.application_name %></strong> DO NOT REPRESENT OR WARRANT THAT THE INFORMATION ON THE WEBITE IS ACCURATE, COMPLETE, RELIABLE, USEFUL, TIMELY OR CURRENT OR THAT OUR WEBSITE WILL OPERATE WITHOUT INTERRUPTION OR ERROR.</p>

  <p class="lead">YOU AGREE THAT ALL TIMES, YOU WILL LOOK TO ATTORNEYS FROM WHOM YOU PURCHASE SERVICES FOR ANY CLAIMS OF ANY NATURE, INCLUDING LOSS, DAMAGE, OR WARRANTY. <strong><%= Rails.configuration.application_name %></strong> AND THEIR RESPECTIVE AFFILIATES MAKE NO REPRESENTATION OR GUARANTEES ABOUT ANY CONTRACTS AND SERVICES OFFERED THROUGH OUR WEBSITE.</p>

  <p class="lead"><strong><%= Rails.configuration.application_name %></strong> MAKES NO REPRESENTATION THAT CONTENT PROVIDED ON OUR WEBSITE, CONTRACTS, OR RELATED SERVICES ARE APPLICABLE OR APPROPRIATE FOR USE IN ALL JURISDICTIONS.</p>

  <p class="lead"><strong>Indemnification</strong></p>

  <p class="lead">You agree to defend, indemnify and hold <strong><%= Rails.configuration.application_name %></strong> harmless from and against any and all claims, damages, costs and expenses, including attorneys' fees, arising from or related to your use of our Website or any Contracts or Services you purchase through it.</p>
</div>
