<%%= form_with(model: <%= singular_name %>, local: true) do |form| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="form-group">
<% if attribute.password_digest? -%>
    <%%= form.label :password %>
    <%%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%%= form.label :password_confirmation %>
    <%%= form.password_field :password_confirmation, class: 'form-control' %>
<% else -%>
    <%%= form.label :<%= attribute.column_name %> %>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control' %>
<% end -%>
  </div>

<% end -%>
  <div class="form-group">
    <%% if <%= singular_name %>.persisted? %>
      <div class="float-right">
        <%%= link_to 'Destroy', <%= singular_name %>, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <%% end %>

    <%%= form.submit class: 'btn btn-primary' %>

    <%% if <%= singular_name %>.persisted? %>
      <%%= link_to "Cancel", <%= singular_name %>, class: "btn btn-link" %>
    <%% else %>
      <%%= link_to "Cancel", <%= index_helper %>_path, class: "btn btn-link" %>
    <%% end %>
  </div>
<%% end %>
